#painelExibicao{
	-fx-background-color:  #e6e6e6;
	-fx-background-image: url("../images/city-fundo.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 480 350;
	-fx-background-position: center;
}

#btnConfig{
	-fx-background-color: rgba(0,0,0,0);
}
#btnConfig:hover{
	-fx-background-color: #f0f0f0;
}

#btnSair{
	-fx-background-color: rgba(0,0,0,0);
}
#btnSair:hover{
	-fx-background-color: #f0f0f0;
}

#btnNovoContato{
	-fx-background-color: rgba(0,0,0,0);
}

#btnNovoContato:hover{
	-fx-background-color: #f0f0f0;
}

#btnNovoGrupo{
	-fx-background-color: rgba(0,0,0,0);
}
#btnNovoGrupo:hover{
	-fx-background-color: #f0f0f0;
}

#btnNovaConversa{
	-fx-background-color: rgba(0,0,0,0);
}

#btnNovaConversa:hover{
	-fx-background-color: #f0f0f0;
}

#btnFormulario{
	-fx-background-color: rgba(0,0,0,0);
}

#btnFormulario:hover{
	-fx-background-color: #f0f0f0;
}

#painelScroll {
	-fx-background-color:transparent;
}
#painelScroll > .viewport{
	-fx-background-color:transparent;
}

#balaoConversaContato{
	-fx-background-color:white;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}
#balaoConversaUser{
	-fx-background-color:#f0f0f0;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}
#btnInfoForm{
	-fx-background-color: rgba(0,0,0,0);
}
#btnInfoForm:hover{
	-fx-background-color:#f0f0f0;
}
#btnInfoConfigUser{
	-fx-background-color: rgba(0,0,0,0);
}
#btnInfoConfigUser:hover{
	-fx-background-color:#f0f0f0;
}
#campoAssunto{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: #00a611;
	-fx-border-width: 1px;
}
#campoObs{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-style: solid;
	-fx-border-color: #00a611;
	-fx-border-width: 1px;
}
#btnAddArquivo{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-style:solid;
	-fx-border-color: #000000;
	-fx-border-width: 2px;
}
#btnAddArquivo:hover{
	-fx-background-color:#f0f0f0;
}
#listaArquivos{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-style: solid;
	-fx-border-color: #00a611;
	-fx-border-width: 1px;
}
#fundoForm > .viewport{
	-fx-background-color:white;
}
#btnEnviaForm,#btnSaveUserConfig{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-style: solid;
	-fx-border-color: #000000;
	-fx-border-width: 2px;
}
#btnSaveUserConfig:hover, #btnEnviaForm:hover{
	-fx-background-color: #00a611;
	-fx-text-fill: white;
	-fx-border-style: solid;
	-fx-border-color: #00a611;
	-fx-border-width: 2px;
}

#campoNome,#campoSobrenome,#campoEmail,#campoSenha,#campoConfirmarSenha{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: #00a611;
	-fx-border-width: 1px;
}

#btnEditFoto{
	-fx-background-color: rgba(0,0,0,0.68);
	-fx-border-radius: 80px;
	-fx-background-radius: 80px;
}
#btnEditFoto:hover{
	-fx-background-color: rgba(0,0,0,0.87);
}