#painelLogin{
	-fx-background-color: #ffffff;
}

#campoLogin, #campoSenha{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: black;
	-fx-border-width: 1px;
}

#btnEntrar{
	-fx-background-color: #00A611;
	-fx-border-radius: 80px;
	-fx-background-radius: 80px;
}
#btnEntrar:hover{
	-fx-background-color: #04D939;
}

#btnCadastrar{
	-fx-background-color: black;
	-fx-border-radius: 80px;
	-fx-background-radius: 80px;
}

#btnCadastrar:hover{
	-fx-background-color: #363636;
}

#btnSobre{
	-fx-background-color: rgba(0,0,0,0);
}

#btnSobre:hover{
	-fx-background-color:#f0f0f0;
}

#btnFecharSobre{
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-style: solid;
	-fx-border-color: #000000;
	-fx-border-width: 2px;
}
#btnFecharSobre:hover{
	-fx-background-color: #00a611;
	-fx-text-fill: white;
	-fx-border-style: solid;
	-fx-border-color: #00a611;
	-fx-border-width: 2px;
}
#headerSobre{
	-fx-background-color: white;
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-color: #BFBFBF;
	-fx-border-widht: 1px;
}
#footerSobre{
	-fx-background-color: white;
	-fx-border-style: solid hidden hidden hidden;
	-fx-border-color: #BFBFBF;
	-fx-border-widht: 1px;
	
}